* {
	background-color: #333;
	color: whitesmoke;
	text-align: center;
	margin: auto;
}

#container {
	width: 500px;
	height: 500px;
	display: grid;
	border: 1px solid whitesmoke;
	grid-template-columns: repeat(auto-fill, minmax(1px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(1px, 1fr));
}
