* {
	background-color: #333;
	color: whitesmoke;
	text-align: center;
	margin: auto;
}

#container {
	width: 500px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: hidden;
	align-content: flex-start;
	justify-content: center;
	border: 1px solid whitesmoke;
}
